<div class="container">
  <div class="expand level 0"><span class="expand-button">B</span> root</div>
</div>

<!-- <div class="container">
  <span class="s1 leaf"></span>
  <div class="node leaf"> node2</div>
</div> -->

<div class="container leaf">
  <span class="s1 leaf space"></span>
  <div class="node leaf level1">node3</div>
</div>

<div class="container temp">
  <span class="s1 expand level1 space"></span>
  <div class="node expand level1">
    <span class="expand-button">B</span> node3
  </div>
</div>

<div class="container temp">
  <span class="s1 expand level2 space"></span>
  <span class="s2 expand level2 space"></span>
  <div class="node expand"><span class="expand-button">B</span> node4</div>
</div>

<div class="container leaf">
  <span class="s1 leaf level3 space"></span>
  <span class="s2 leaf level3 space"></span>
  <span class="s3 leaf level3 space"></span>
  <div class="node leaf space">node6</div>
</div>
