<div class="container level0 expanded">
  <div class="expand level0 expanded">
    <span class="expand-button expanded">B</span> root
  </div>
</div>

<!-- <div class="container">
  <span class="s1 leaf"></span>
  <div class="node leaf"> node2</div>
</div> -->

<div class="container leaf">
  <span class="s1 leaf space"></span>
  <div class="node leaf level1">node3</div>
</div>

<div class="container temp">
  <span class="s1 expand level1 space expanded"></span>
  <div class="node expand level1 expanded">
    <span class="expand-button expanded">B</span> node3
  </div>
</div>

<div class="container temp">
  <span class="s1 expand level2 space"></span>
  <span class="s2 expand level2 space expanded"></span>
  <div class="node expand">
    <span class="expand-button expanded">B</span> node4
  </div>
</div>

<div class="container leaf level3 last">
  <span class="s1 leaf level3 space last expanded"></span>
  <span class="s2 leaf level3 space last expanded"></span>
  <span class="s3 leaf level3 space last expanded"></span>
  <div class="node leaf space">node6</div>
</div>

<div class="container level0">
  <div class="expand level0"><span class="expand-button">B</span> root2</div>
</div>
